* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
}

section {
    padding: 30px 7%;
}

.heading {
    font-size: 40px;
    color: #1d1c1c;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 60px;
}

.heading span {
    color: #f9ba60;
    text-transform: uppercase;
}

.btn {
    font-size: 17px;
    margin-top: 10px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    background: none;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 9%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.header .logo {
    font-size: 25px;
    font-weight: bolder;
    color: #1d1c1c;
}

.header .logo i {
    color: #f9ba60;
}

.header .navbar a {
    font-size: 17px;
    margin: 0 10px;
    color: #1d1c1c;
}

.header .icon div {
    font-size: 25px;
    margin-left: 17px;
    color: #1d1c1c;
    cursor: pointer;
}

#menu-btn {
    display: none;
}

.home {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    background: #666;
}

.home .content {
    flex: 1 1 400px;
    padding-top: 65px;
}

.home .content h3 {
    font-size: 60px;
    color: #1d1c1c;
}

.home .content h3 span {
    color: #f9ba60;
}

.home .content p {
    font-size: 17px;
    color: #666;
    line-height: 1.8;
    padding: 10px 0;
}

.home .image {
    flex: 1 1 400px;
}

.home .image img {
    width: 100%;
    padding: 40px;
}

.about {
    background: #666;
}

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about .row .image {
    flex: 1 1 500px;
}

.about .row .image img {
    width: 100%;
    height: 100%;
}

.about .row .content {
    flex: 1 1 400px;
}

.about .row .content h3 {
    font-size: 30px;
    color: #fff;
    line-height: 1.5;
}

.about .row .content p {
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    line-height: 2;
}

.education .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 15px;
}

.education .box-container .box {
    background: #f9ba60;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.education .box-container .box h3 {
    font-size: 25px;
    color: #fff;
    line-height: 1.8;
    padding-top: 30px;
    padding-left: 20px;
}

.education .box-container .box img {
    width: 100%;
    height: 66%;
}

.teacher .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 15px;
}

.teacher .box-container .box {
    background: #e9768f;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 20px;
}

.teacher .box-container .box img {
    height: 300px;
}

.teacher .box-container .box h3 {
    font-size: 25px;
    color: #fff;
}

.teacher-list {
    text-align: center;
}

.teacher-list li {
    font-size: 20px;
    font-weight: bolder;
}

.teacher-table {
    width: 100%;
    border-collapse: collapse;
}

.teacher-table th,
.teacher-table td {
    font-size: 20px;
    padding: 8px;
    border: 2px solid #f9ba60;
}

.teacher-table th {
    background: #e9768f;
    color: #000;
    text-align: left;
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 40px;
}

.contact .row form {
    flex: 1 1 55px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .4);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 5px;
    background: #f9ba60;
}

.contact .row form h3 {
    font-size: 30px;
    padding-bottom: 10px;
    color: #1d1c1c;
}

.contact .row form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form .inputBox input {
    width: 49%;
}

.contact .row form .inputBox input,
.contact .row form textarea {
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: 10px 12px;
    color: #1d1c1c;
    margin: 7px 0;
}

.contact .row form textarea {
    height: 15rem;
    width: 100%;
    resize: none;
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem 3rem;
    }
    section {
        padding: 3rem;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
        border-radius: .5rem;
        background: #fff;
    }
    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }
    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .home .content h3 {
        font-size: 3.5rem;
    }
}